Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hotels">
    <xs:complexType>
      <!-- Each Hotel can have this data structure -->
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Hotel">
        <xs:attribute name="Rating" type="xs:decimal" use="optional" />
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element minOccurs="1"  maxOccurs="unbounded" name="Phone" type="xs:string" />
              <xs:element name="Address">
                <xs:attribute name="NearstAirport" type="xs:string" use="required" />
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:unsignedInt"/>
                    <xs:element name="Street" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="State" type="xs:string" />
                    <xs:element name="Zip" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
